<div class="col-md-6">
  <div class="card border-success mb-4">
    <div class="card-header bg-success text-white">
      <h3 class="mb-0">Add a Comment</h3>
    </div>
    <div class="card-body">
      <%= form_for [project, Comment.new], url: project_comments_path(project), local: true do |form| %>
        <div class="form-group">
          <%= form.label :content, "Your Comment", class: "form-label text-dark" %>
          <%= form.text_area :content, class: "form-control", rows: 3, required: true %>
        </div>
        <%= form.submit 'Post Comment', class: "btn btn-success btn-block" %>
      <% end %>
    </div>
  </div>
</div>
