<div class="col-md-6">
  <div class="card border-info mb-4">
    <div class="card-header bg-info text-white">
      <h2 class="mb-0">Comments</h2>
    </div>
    <div class="card-body">
      <% if comments_history.any? %>
        <ul class="list-group">
          <% comments_history.each do |comment| %>
            <li class="list-group-item">
              <strong class="text-dark"><%= comment.user.name %></strong> added comment:
              <blockquote class="blockquote">
                <p class="mb-0"><%= comment.content %></p>
              </blockquote>
              <span class="text-muted small">(<%= time_ago_in_words(comment.created_at) %> ago)</span>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-muted">No Comments yet.</p>
      <% end %>
    </div>
  </div>
</div>
