<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h2 class="mb-0">Project List</h2>
    </div>
    <div class="card-body p-4">
      <%= render 'projects/table', projects: @projects %>
    </div>
  </div>
</div>